.vagrant
demoinfogo
src/generated_proto/
protobuf-2.5.0/Makefile
protobuf-2.5.0/config.h
protobuf-2.5.0/config.log
protobuf-2.5.0/config.status
protobuf-2.5.0/gtest/Makefile
protobuf-2.5.0/gtest/build-aux/config.h
protobuf-2.5.0/gtest/build-aux/stamp-h1
protobuf-2.5.0/gtest/config.log
protobuf-2.5.0/gtest/config.status
protobuf-2.5.0/gtest/fused-src/gtest/.deps/
protobuf-2.5.0/gtest/libtool
protobuf-2.5.0/gtest/samples/.deps/
protobuf-2.5.0/gtest/scripts/gtest-config
protobuf-2.5.0/gtest/src/.deps/
protobuf-2.5.0/gtest/test/.deps/
protobuf-2.5.0/libtool
protobuf-2.5.0/protobuf-lite.pc
protobuf-2.5.0/protobuf.pc
protobuf-2.5.0/src/.deps/
protobuf-2.5.0/src/Makefile
protobuf-2.5.0/stamp-h1
protobuf-2.5.0/src/.libs/
protobuf-2.5.0/src/atomicops_internals_x86_gcc.lo
protobuf-2.5.0/src/atomicops_internals_x86_gcc.o
protobuf-2.5.0/src/atomicops_internals_x86_msvc.lo
protobuf-2.5.0/src/atomicops_internals_x86_msvc.o
protobuf-2.5.0/src/code_generator.lo
protobuf-2.5.0/src/code_generator.o
protobuf-2.5.0/src/coded_stream.lo
protobuf-2.5.0/src/coded_stream.o
protobuf-2.5.0/src/command_line_interface.lo
protobuf-2.5.0/src/command_line_interface.o
protobuf-2.5.0/src/common.lo
protobuf-2.5.0/src/common.o
protobuf-2.5.0/src/cpp_enum.lo
protobuf-2.5.0/src/cpp_enum.o
protobuf-2.5.0/src/cpp_enum_field.lo
protobuf-2.5.0/src/cpp_enum_field.o
protobuf-2.5.0/src/cpp_extension.lo
protobuf-2.5.0/src/cpp_extension.o
protobuf-2.5.0/src/cpp_field.lo
protobuf-2.5.0/src/cpp_field.o
protobuf-2.5.0/src/cpp_file.lo
protobuf-2.5.0/src/cpp_file.o
protobuf-2.5.0/src/cpp_generator.lo
protobuf-2.5.0/src/cpp_generator.o
protobuf-2.5.0/src/cpp_helpers.lo
protobuf-2.5.0/src/cpp_helpers.o
protobuf-2.5.0/src/cpp_message.lo
protobuf-2.5.0/src/cpp_message.o
protobuf-2.5.0/src/cpp_message_field.lo
protobuf-2.5.0/src/cpp_message_field.o
protobuf-2.5.0/src/cpp_primitive_field.lo
protobuf-2.5.0/src/cpp_primitive_field.o
protobuf-2.5.0/src/cpp_service.lo
protobuf-2.5.0/src/cpp_service.o
protobuf-2.5.0/src/cpp_string_field.lo
protobuf-2.5.0/src/cpp_string_field.o
protobuf-2.5.0/src/descriptor.lo
protobuf-2.5.0/src/descriptor.o
protobuf-2.5.0/src/descriptor.pb.lo
protobuf-2.5.0/src/descriptor.pb.o
protobuf-2.5.0/src/descriptor_database.lo
protobuf-2.5.0/src/descriptor_database.o
protobuf-2.5.0/src/dynamic_message.lo
protobuf-2.5.0/src/dynamic_message.o
protobuf-2.5.0/src/extension_set.lo
protobuf-2.5.0/src/extension_set.o
protobuf-2.5.0/src/extension_set_heavy.lo
protobuf-2.5.0/src/extension_set_heavy.o
protobuf-2.5.0/src/generated_message_reflection.lo
protobuf-2.5.0/src/generated_message_reflection.o
protobuf-2.5.0/src/generated_message_util.lo
protobuf-2.5.0/src/generated_message_util.o
protobuf-2.5.0/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
protobuf-2.5.0/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
protobuf-2.5.0/src/google/protobuf/unittest.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_custom_options.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_custom_options.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_embed_optimize_for.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_embed_optimize_for.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_empty.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_empty.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_import.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_import.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_import_lite.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_import_lite.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_import_public.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_import_public.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_import_public_lite.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_import_public_lite.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_lite.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_lite.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_lite_imports_nonlite.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_mset.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_mset.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_no_generic_services.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_no_generic_services.pb.h
protobuf-2.5.0/src/google/protobuf/unittest_optimize_for.pb.cc
protobuf-2.5.0/src/google/protobuf/unittest_optimize_for.pb.h
protobuf-2.5.0/src/gzip_stream.lo
protobuf-2.5.0/src/gzip_stream.o
protobuf-2.5.0/src/importer.lo
protobuf-2.5.0/src/importer.o
protobuf-2.5.0/src/java_doc_comment.lo
protobuf-2.5.0/src/java_doc_comment.o
protobuf-2.5.0/src/java_enum.lo
protobuf-2.5.0/src/java_enum.o
protobuf-2.5.0/src/java_enum_field.lo
protobuf-2.5.0/src/java_enum_field.o
protobuf-2.5.0/src/java_extension.lo
protobuf-2.5.0/src/java_extension.o
protobuf-2.5.0/src/java_field.lo
protobuf-2.5.0/src/java_field.o
protobuf-2.5.0/src/java_file.lo
protobuf-2.5.0/src/java_file.o
protobuf-2.5.0/src/java_generator.lo
protobuf-2.5.0/src/java_generator.o
protobuf-2.5.0/src/java_helpers.lo
protobuf-2.5.0/src/java_helpers.o
protobuf-2.5.0/src/java_message.lo
protobuf-2.5.0/src/java_message.o
protobuf-2.5.0/src/java_message_field.lo
protobuf-2.5.0/src/java_message_field.o
protobuf-2.5.0/src/java_primitive_field.lo
protobuf-2.5.0/src/java_primitive_field.o
protobuf-2.5.0/src/java_service.lo
protobuf-2.5.0/src/java_service.o
protobuf-2.5.0/src/java_string_field.lo
protobuf-2.5.0/src/java_string_field.o
protobuf-2.5.0/src/libprotobuf-lite.la
protobuf-2.5.0/src/libprotobuf.la
protobuf-2.5.0/src/libprotoc.la
protobuf-2.5.0/src/main.o
protobuf-2.5.0/src/message.lo
protobuf-2.5.0/src/message.o
protobuf-2.5.0/src/message_lite.lo
protobuf-2.5.0/src/message_lite.o
protobuf-2.5.0/src/once.lo
protobuf-2.5.0/src/once.o
protobuf-2.5.0/src/parser.lo
protobuf-2.5.0/src/parser.o
protobuf-2.5.0/src/plugin.lo
protobuf-2.5.0/src/plugin.o
protobuf-2.5.0/src/plugin.pb.lo
protobuf-2.5.0/src/plugin.pb.o
protobuf-2.5.0/src/printer.lo
protobuf-2.5.0/src/printer.o
protobuf-2.5.0/src/protoc
protobuf-2.5.0/src/python_generator.lo
protobuf-2.5.0/src/python_generator.o
protobuf-2.5.0/src/reflection_ops.lo
protobuf-2.5.0/src/reflection_ops.o
protobuf-2.5.0/src/repeated_field.lo
protobuf-2.5.0/src/repeated_field.o
protobuf-2.5.0/src/service.lo
protobuf-2.5.0/src/service.o
protobuf-2.5.0/src/stringprintf.lo
protobuf-2.5.0/src/stringprintf.o
protobuf-2.5.0/src/structurally_valid.lo
protobuf-2.5.0/src/structurally_valid.o
protobuf-2.5.0/src/strutil.lo
protobuf-2.5.0/src/strutil.o
protobuf-2.5.0/src/subprocess.lo
protobuf-2.5.0/src/subprocess.o
protobuf-2.5.0/src/substitute.lo
protobuf-2.5.0/src/substitute.o
protobuf-2.5.0/src/text_format.lo
protobuf-2.5.0/src/text_format.o
protobuf-2.5.0/src/tokenizer.lo
protobuf-2.5.0/src/tokenizer.o
protobuf-2.5.0/src/unittest_proto_middleman
protobuf-2.5.0/src/unknown_field_set.lo
protobuf-2.5.0/src/unknown_field_set.o
protobuf-2.5.0/src/wire_format.lo
protobuf-2.5.0/src/wire_format.o
protobuf-2.5.0/src/wire_format_lite.lo
protobuf-2.5.0/src/wire_format_lite.o
protobuf-2.5.0/src/zero_copy_stream.lo
protobuf-2.5.0/src/zero_copy_stream.o
protobuf-2.5.0/src/zero_copy_stream_impl.lo
protobuf-2.5.0/src/zero_copy_stream_impl.o
protobuf-2.5.0/src/zero_copy_stream_impl_lite.lo
protobuf-2.5.0/src/zero_copy_stream_impl_lite.o
protobuf-2.5.0/src/zip_writer.lo
protobuf-2.5.0/src/zip_writer.o